
/*==============================================
 Base
 ===============================================*/
 body{ color: #676666}
a:hover, a:focus { color: #b98862;}

h1,
h2,
h3,
h4,
h5,
h6{font-family: 'Unna', serif;}

.theme-text,  h1.theme-text, h2.theme-text, h3.theme-text, h4.theme-text, h5.theme-text, h6.theme-text{color:#b98862}
.theme-bg .heading-block span{color: #fff}
.theme-bg{background: #b98862}
.grey-bg{background:#f5f5f5;}
.post-overlay{background: #b98862}

.counter .counter-info span.theme-text{color:#b98862}

.feature-box.feature-text1 .step {color:#b98862}
.feature-box.feature-text1 .step:before {background: #b98862}

/**************************/
/* Button Setting */
/**************************/
.btn.theme-bg{background:#b98862;}
.btn.theme-text, .btn-link{color:#b98862;}
.btn.theme-border{border-color:#b98862;}
.btn.theme-outline{border-color:#b98862;}

.btn-default, .btn-default:hover{background:#b98862;}
.btn-outline{border-color:#b98862; color:#b98862; background:transparent;}
.btn-outline:hover{background:transparent;}

.btn-outline:hover, 
.btn-outline:active, 
.btn-outline:focus, 
.btn-outline:active:focus{border-color:#b98862; color:#b98862;}

.btn.fill-theme:before{background:#b98862;}
.btn.fill-theme:hover{border-color:#b98862;}

/************************/
/* Extra */
/************************/
.post-overlay,
.progress-bar,
.overlay[data-overlay-color="theme"]:after{background:#b98862;}
.post.light-box .post-image > i{color:#b98862;}
.post.light-box .categery{border-color:#b98862; color:#b98862;}
.owl-carousel.owl-theme .owl-dots .owl-dot.active span{background:#b98862;}


#back-to-top .top{background:#b98862;}