
/*==============================================
 Base
 ===============================================*/
body{color:#9b9b9b;font-family: 'Roboto', sans-serif;}
h1,
h2,
h3,
h4,
h5,
h6{margin:0 0 30px 0; font-family: 'Roboto', sans-serif; font-weight:400; letter-spacing:0; color:#383838; line-height:1.5;}
a:hover,a:focus { color: #45b4bc;}

.light-weight{font-weight: 100}

.theme-text, 
h1.theme-text, 
h2.theme-text, 
h3.theme-text, 
h4.theme-text, 
h5.theme-text, 
h6.theme-text{color:#45b4bc;}

.dark-bg p.theme-text{color:#45b4bc;}
.bannerbg{ background-size:initial  !important; background-repeat: no-repeat !important; background-position: right bottom !important}

.dark-bg{background:#1a1921;}
.grey-bg{background:#f5f5f5;}
.theme-bg{background:#45b4bc;}

nav.navbar.bootsnav ul.nav > li > a {font-weight: normal;}
nav.navbar.bootsnav ul.nav > li.active > a{color: #45b4bc;}
nav.navbar.bootsnav .navbar-toggle{color:#353535;}

/**************************/
/* Menu */
/**************************/
li.close-full-menu{padding-bottom:20px; padding-top:20px;}
nav.bootsnav.navbar-full .navbar-collapse ul.nav > li > a{font-size:22px; font-weight:600; letter-spacing:0;}

/**************************/
/* Extra */
/**************************/
.feature-info h2, .feature-info h3, .feature-info h4, .feature-info h5, .feature-info h6{font-weight:500;}
.accordion.theme .panel-default > .panel-heading{background-color:#45b4bc;}

/**************************/
/* Button Setting */
/**************************/
.btn.theme-bg{background:#45b4bc;}
.btn.theme-text, .btn-link{color:#45b4bc;}
.btn.theme-border{border-color:#45b4bc;}
.btn.theme-outline{border-color:#45b4bc;}

.btn-default, .btn-default:hover{background:#45b4bc;}
.btn-outline{border-color:#45b4bc; color:#45b4bc; background:transparent;}
.btn-outline:hover{background:transparent;}

.btn-outline:hover, 
.btn-outline:active, 
.btn-outline:focus, 
.btn-outline:active:focus{border-color:#45b4bc; color:#45b4bc;}

.btn.fill-theme:before{background:#45b4bc;}
.btn.fill-theme:hover{border-color:#45b4bc;}

/************************/
/* Extra */
/************************/
.post-overlay,
.progress-bar,
.overlay[data-overlay-color="theme"]:after{background:#45b4bc;}
.post.light-box .post-image > i{color:#45b4bc;}
.post.light-box .categery{border-color:#45b4bc; color:#45b4bc;}
.owl-carousel.owl-theme .owl-dots .owl-dot.active span{background:#45b4bc;}


#back-to-top .top{background:#45b4bc;}

@media (max-width:767px){
.app-banner.full-height{padding:30px 0;}
}