
/*==============================================
 Base
 ===============================================*/
h1,
h2,
h3,
h4,
h5,
h6 { margin: 0 0 30px 0;  font-family: 'Source Sans Pro', sans-serif; font-weight: 700; letter-spacing: 0; color: #383838;  line-height: 1.5;}
a:hover,a:focus { color: #327ec7;}
.lead{font-weight:500; font-size:17px; line-height:28px; font-family: 'Roboto Slab', serif;}

.theme-text,  h1.theme-text, h2.theme-text, h3.theme-text, h4.theme-text, h5.theme-text, h6.theme-text{color: #6679bc}
.dark-bg{background: #31333e;}
.grey-bg{background: #f9f9f9;}
.theme-bg{background: #6679bc;}

/* Heading Title */
.heading-block .heading{font-size:60px; line-height:60px; }
.grey-bg .heading-block .heading{color:#ffffff;}

/* Portfolio */
.b-isotope-2 .b-isotope-filter > li{padding:0 7px;}
.dark-bg .b-isotope-2 .b-isotope-filter > li > a{font-size:15px; color:#ffffff; opacity:1;}
.dark-bg .b-isotope-2 .b-isotope-filter > li > a:hover,
.dark-bg .b-isotope-2 .b-isotope-filter > li.current > a{color:#6679bc;}
.b-isotope-2 .grid-sizer, .b-isotope-2 .grid-item{padding:0 7px; margin-bottom:15px;}

/* Nav */
nav.bootsnav.navbar-sidebar{background:#343645; border-right:none;}
nav.bootsnav.navbar-full .navbar-collapse ul.nav{margin:0;}
@media (min-width: 1024px) and (max-width:1400px) {
    body.wrap-nav-sidebar .wrapper .container{
        padding-left:15px;
        padding-right:15px;
    }
}

/**************************/
/* Button Setting */
/**************************/
.btn.theme-bg{background:#6679bc;}
.btn.theme-text, .btn-link{color:#6679bc;}
.btn.theme-border{border-color:#6679bc;}
.btn.theme-outline{border-color:#6679bc;}

.btn-default, .btn-default:hover{background:#6679bc;}
.btn-outline{border-color:#6679bc; color:#6679bc; background:transparent;}
.btn-outline:hover{background:transparent;}

.btn-outline:hover, 
.btn-outline:active, 
.btn-outline:focus, 
.btn-outline:active:focus{border-color:#6679bc; color:#6679bc;}

.btn.fill-theme:before{background:#6679bc;}
.btn.fill-theme:hover{border-color:#6679bc;}

/************************/
/* Extra */
/************************/
.post-overlay,
.progress-bar,
.overlay[data-overlay-color="theme"]:after{background:#6679bc;}
.post.light-box .post-image > i{color:#6679bc;}
.post.light-box .categery{border-color:#6679bc; color:#6679bc;}
.owl-carousel.owl-theme .owl-dots .owl-dot.active span{background:#6679bc;}

.navbar .social-icons{margin-top:25px;}
.timeline .timeline-body .title:before{background-color:#6679bc;}


#back-to-top .top{background:#6679bc;}

@media (max-width:992px){
	.personal-address .row-eq-height{display:block;}
	
	/* Heading Title */
	.heading-block .heading{font-size:40px; line-height:40px;}
	
	.b-isotope-3 .b-isotope-filter > li{margin:0; margin-bottom:3px;}
	.b-isotope-3 .b-isotope-filter > li a{font-size:14px; padding:5px 10px;}
}